/* reset default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
/* button style  */
.happy-btn {
  background: #ef233c;
}
.happy-btn:hover {
  background: #d90429;
}

/* section-title */
.section-title {
  color: #ef233c;
}
